<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>奥莱特斯特卖场</title>
<link href="../style/page_detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box_root">
 <div id="box_header">
  <div id="box_logo"><img src="../images/banner_01.jpg" alt="奥特莱斯" width="1002" height="330" /></div>
  <div id="box_nav">
   <ul>
    <li><a href="index.html" onclick="javascript:getBg(0)" id="mynav0"><span>HOME</span></a></li>
    <li><a href="about.html" onclick="javascript:getBg(1)" id="mynav1"><span>关于奥莱特斯</span></a></li>
    <li><a href="inchina.html" onclick="javascript:getBg(2)" id="mynav2"  class="current"><span>奥莱斯特联盟</span></a></li>
    <li><a href="research.html" onclick="javascript:getBg(3)" id="mynav3"><span>液态研究</span></a></li>
    <li><a href="news.html" onclick="javascript:getBg(4)" id="mynav4"><span>新闻中心</span></a></li>
    <li><a href="conter.html" onclick="javascript:getBg(5)" id="mynav5"><span>联系我们</span></a></li>
    <div class="clear"></div>
   </ul>
   <img src="../images/fus.gif" alt="品牌服务商：蛙跳营销"  class="fws"  /> </div>
 </div>
 <!-- 头部导航结束 -->
 <!-- 二列版式开始 -->
 <div id="box_main">
  <div class="ny_left_bg">
   <!-- 左栏目开始 -->
   <div id="box_left">
    <div class="ny_title"><img src="../images/ny_title-03.gif" alt="新闻中心" width="220" height="50" /></div>
    <div class="ny_nav">
     <ul >
      <li><a href="inchina.html">奥特莱斯在中国<br/>
       <span>In China</span></a></li>
      <li><a href="alliance.html" class="hover" >奥特莱斯联盟<br/>
       <span>Alliance</span></a></li>
      <li><a href="brand.html" >战略合作品牌<br/>
       <span>Strategic co-brand</span></a></li>
     </ul>
    </div>
   </div>
   <!-- 左栏目结束-->
   <!-- 右栏目开始 -->
   <div id="box_right">
    <div class="ny_right_bg-01">
     <div class="ny_current"><a href="alliance.html">奥莱特斯特卖场</a> &gt; 详情</div>
     <div class="ny_text-01"> <img src="../images/ny_pic-40.jpg" alt="佛罗伦莎小镇" />
      <p>“佛罗伦莎小镇——京津名品奥特莱斯”由RDM公司与美国威特公司共同投资10亿元人民币建设，建筑面积6万平方米，租用面积4.2万平方米。</p>
      <p> 据RDM亚太区董事总经理、佛罗伦莎小镇董事长包毅方介绍，这里设有奢侈品、国际名品、运动和户外以及休闲四大特色购物主题体验区，提供近200家门类的奢华及时尚精品。RDM公司董事长雅各博·马切说：“中国是世界奢侈品市场发展最快的地区。很多研究表明，中国将很快超越日本、美国成为世界第一大奢侈品消费大国，我们和品牌盟友们都认可这种发展速度。”</p>
      <p> 他表示，中国消费者日益成熟，对奢侈品的欲望快速提升，进军中国是RDM公司的长期战略，而现在正是投资中国的最佳时机。</p>
     </div>
    </div>
   </div>
   <div class="clearBoth"></div>
  </div>
 </div>
 <!-- 底部栏目开始 -->
 <div id="box_footer">
  <!-- 友情链接 -->
  <div id="box_links"><img src="../images/line_01.gif" alt="line" /><a href="#">蛙跳网</a><img src="../images/line_01.gif" alt="line" /><a href="#">新浪地产</a><img src="../images/line_01.gif" alt="line" /><a href="#">奥特莱斯（中国）有限公司</a><img src="../images/line_01.gif" alt="line" /><a href="#">好房子网</a><img src="../images/line_01.gif" alt="line" /><a href="#">0731房产网</a><img src="../images/line_01.gif" alt="line" /></div>
 </div>
</div>
</body>
</html>
