<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>液态研究</title>
<link href="../style/page_detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box_root">
 <div id="box_header">
  <div id="box_logo"><img src="../images/banner_01.jpg" alt="奥特莱斯" width="1002" height="330" /></div>
  <div id="box_nav">
   <ul>
    <li><a href="index.html" onclick="javascript:getBg(0)" id="mynav0"><span>HOME</span></a></li>
    <li><a href="about.html" onclick="javascript:getBg(1)" id="mynav1"><span>关于奥莱特斯</span></a></li>
    <li><a href="inchina.html" onclick="javascript:getBg(2)" id="mynav2"><span>奥莱斯特联盟</span></a></li>
    <li><a href="research.html" onclick="javascript:getBg(3)" id="mynav3"  class="current"><span>液态研究</span></a></li>
    <li><a href="news.html" onclick="javascript:getBg(4)" id="mynav4"><span>新闻中心</span></a></li>
    <li><a href="conter.html" onclick="javascript:getBg(5)" id="mynav5"><span>联系我们</span></a></li>
    <div class="clear"></div>
   </ul>
   <img src="../images/fus.gif" alt="品牌服务商：蛙跳营销"  class="fws"  /> </div>
 </div>
 <!-- 头部导航结束 -->
 <!-- 二列版式开始 -->
 <div id="box_main">
  <div class="ny_left_bg">
   <!-- 左栏目开始 -->
   <div id="box_left">
    <div class="ny_title"><img src="../images/ny_title-03.gif" alt="新闻中心" width="220" height="50" /></div>
    <div class="ny_nav">
     <ul >
      <li><a href="alliance.html" >奥特莱斯特卖场<br/>
       <span>Bargains</span></a></li>
      <li><a href="alliance.html" >奥特莱斯特卖场<br/>
       <span>Bargains</span></a></li>
      <li><a href="alliance.html" >奥特莱斯特卖场<br/>
       <span>Bargains</span></a></li>
      <li><a href="alliance.html" >奥特莱斯特卖场<br/>
       <span>Bargains</span></a></li>
      <li><a href="alliance.html" >奥特莱斯特卖场<br/>
       <span>Bargains</span></a></li>
     </ul>
    </div>
   </div>
   <!-- 左栏目结束-->
   <!-- 右栏目开始 -->
   <div id="box_right">
    <div class="ny_right_bg-01">
     <div class="ny_right_bg-011">
      <div class="ny_current"><h1><a href="research.html">液态研究</a> &gt; 详情</h1></div>
      <div class="ny_text-01">
       <h1>哈尔滨市阿城区领导参观佛山芭蕾雨</h1>
       <p>临汾市市委书记罗清宇在签约仪式上致辞，他认为“芭蕾雨”项目落户临汾，是临汾加快推进城镇化和服务业现代化取得的又一成果。“芭蕾雨”将有力的推动临汾经济的转型发展、优化产业布局、调整经济结构、扩大就业及增加税收，促进城镇化进程。显著提升临汾的城市形象，整体增强临汾区域经济的核心竞争力。他强调，奥特莱斯（中国）有限公司是一家享有盛誉的国际化企业，临汾市与奥特莱斯（中国）感情相通、战略相合、优势互补。临汾市委市政府将以最细致的服务、最优惠的政策，倾全市之力竭诚为“芭蕾雨”项目创造最优质的投资环境。希望双方发挥各自的优势，完善协调推进机制，共同拓展合作空间实现共赢发展。</p>
       <p> 林卓延表示，签约仪式的举行，为双方前期工作画上了圆满的句号，也预示着投资额15亿美元以上、建设规模逾200万平方米的“芭蕾雨”项目进入了规划建设的实质性阶段。“芭蕾雨”模式蕴含着世界时尚风情和新型现代服务业特色，与临汾厚重的历史文化积淀相结合，将推动临汾地区乃至山西从单一产业支撑向多元产业拉动、产业节点向产业链条、产品分散发展向产业集群发展的历史性转变。奥特莱斯（中国）愿与临汾政府和人民一道，以高度的热情和积极态度，开拓进取、扎实工作，为共同打造一个新临汾而努力。 </p>
      </div>
     </div>
    </div>
   </div>
   <div class="clearBoth"></div>
  </div>
 </div>
 <!-- 底部栏目开始 -->
 <div id="box_footer">
  <!-- 友情链接 -->
  <div id="box_links"><img src="../images/line_01.gif" alt="line" /><a href="#">蛙跳网</a><img src="../images/line_01.gif" alt="line" /><a href="#">新浪地产</a><img src="../images/line_01.gif" alt="line" /><a href="#">奥特莱斯（中国）有限公司</a><img src="../images/line_01.gif" alt="line" /><a href="#">好房子网</a><img src="../images/line_01.gif" alt="line" /><a href="#">0731房产网</a><img src="../images/line_01.gif" alt="line" /></div>
 </div>
</div>
</body>
</html>
