<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>战略合作品牌</title>
<link href="../style/page_detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box_root">
 <div id="box_header">
  <div id="box_logo"><img src="../images/banner_01.jpg" alt="奥特莱斯" width="1002" height="330" /></div>
  <div id="box_nav">
   <ul>
    <li><a href="index.html" onclick="javascript:getBg(0)" id="mynav0"><span>HOME</span></a></li>
    <li><a href="about.html" onclick="javascript:getBg(1)" id="mynav1"><span>关于奥莱特斯</span></a></li>
    <li><a href="inchina.html" onclick="javascript:getBg(2)" id="mynav2" class="current"><span>奥莱斯特联盟</span></a></li>
    <li><a href="research.html" onclick="javascript:getBg(3)" id="mynav3"><span>液态研究</span></a></li>
    <li><a href="news.html" onclick="javascript:getBg(4)" id="mynav4"><span>新闻中心</span></a></li>
    <li><a href="conter.html" onclick="javascript:getBg(5)" id="mynav5"><span>联系我们</span></a></li>

   </ul>    <div class="clear"></div>
   <img src="../images/fus.gif" alt="品牌服务商：蛙跳营销"  class="fws"  /> </div>
 </div>
 <!-- 头部导航结束 -->
 <!-- 二列版式开始 -->
 <div id="box_main">
  <div class="ny_left_bg">
   <!-- 左栏目开始 -->
   <div id="box_left">
    <div class="ny_title"><img src="../images/ny_title-02.gif" alt="关于我们" width="220" height="50" /></div>
    <div class="ny_nav">
     <ul >
      <li><a href="inchina.html">奥特莱斯在中国<br/>
       <span>In China</span></a></li>
      <li><a href="alliance.html">奥特莱斯联盟<br/>
       <span>Alliance</span></a></li>
      <li><a href="brand.html" class="hover">战略合作品牌<br/>
       <span>Strategic co-brand</span></a></li>
     </ul>
    </div>
   </div>
   <!-- 左栏目结束-->
   <!-- 右栏目开始 -->
   <div id="box_right">
    <div class="ny_right_bg-01">
     <div class="ny_tit-01"><img src="../images/ny_tit-05.gif" alt="战略合作伙伴" /></div>
     <div class="ny_txt-05"><img src="../images/ny_pic-40.gif" alt="合作品牌" /> </div>
    </div>
   </div>
   <div class="clearBoth"></div>
  </div>
 </div>
 <!-- 底部栏目开始 -->
 <div id="box_footer">
  <!-- 友情链接 -->
  <div id="box_links"><img src="../images/line_01.gif" alt="line" /><a href="#">蛙跳网</a><img src="../images/line_01.gif" alt="line" /><a href="#">新浪地产</a><img src="../images/line_01.gif" alt="line" /><a href="#">奥特莱斯（中国）有限公司</a><img src="../images/line_01.gif" alt="line" /><a href="#">好房子网</a><img src="../images/line_01.gif" alt="line" /><a href="#">0731房产网</a><img src="../images/line_01.gif" alt="line" /></div>
 </div>
</div>
</body>
</html>
