<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>液态研究</title>
<link href="../style/page_detail.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box_root">
 <div id="box_header">
  <div id="box_logo"><img src="../images/banner_01.jpg" alt="奥特莱斯" width="1002" height="330" /></div>
  <div id="box_nav">
   <ul>
    <li><a href="index.html" onclick="javascript:getBg(0)" id="mynav0"><span>HOME</span></a></li>
    <li><a href="about.html" onclick="javascript:getBg(1)" id="mynav1"><span>关于奥莱特斯</span></a></li>
    <li><a href="inchina.html" onclick="javascript:getBg(2)" id="mynav2"><span>奥莱斯特联盟</span></a></li>
    <li><a href="research.html" onclick="javascript:getBg(3)" id="mynav3"  class="current"><span>液态研究</span></a></li>
    <li><a href="news.html" onclick="javascript:getBg(4)" id="mynav4"><span>新闻中心</span></a></li>
    <li><a href="conter.html" onclick="javascript:getBg(5)" id="mynav5"><span>联系我们</span></a></li>
    <div class="clear"></div>
   </ul>
   <img src="../images/fus.gif" alt="品牌服务商：蛙跳营销"  class="fws"  /> </div>
 </div>
 <!-- 头部导航结束 -->
 <!-- 二列版式开始 -->
 <div id="box_main">
  <div class="ny_left_bg">
   <!-- 左栏目开始 -->
   <div id="box_left">
    <div class="ny_title"><img src="../images/ny_title-03.gif" alt="关于我们" width="220" height="50" /></div>
   </div>
   <!-- 左栏目结束-->
   <!-- 右栏目开始 -->
   <div id="box_right">
    <div class="ny_right_bg-01">
     <div class="ny_tit-01"><img src="../images/ny_tit-06.gif" alt="奥特莱斯在中国" width="252" height="50" /></div>
     <div class="ny_txt-06">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td>&nbsp;</td>
        <td height="100"><img src="../images/ny_pic-31.jpg" alt="业态研究" width="132" height="94" /></td>
       </tr>
       <tr>
        <td width="210" valign="top"><img src="../images/ny_pic-32.jpg" alt="液态研究" width="203" height="575" /></td>
        <td><div class="ny_research_list">
          <ul >
           <li>
            <h1><a href="research_detail.html" >哈尔滨市阿城区领导参观佛山芭蕾雨哈尔滨市阿城区领导参观佛山芭蕾雨</a></h1>
            <p>陈春良副主席代表公司欢迎王文力书记一行领导，并介绍了芭蕾雨项
             目在促进地区经济增长、增加就业、税收，建立新城市中心的巨大作用，
             并着重指出芭蕾雨项目中，奥特莱斯商业部分的培育过程是相当漫长的，
             投资也十分巨大，项目需有充足的保障条件，以及得到政府的全力支持才
             能培育成功。</p>
           </li>
           <li>
            <h1><a href="research.html" >哈尔滨市阿城区领导参观佛山芭蕾雨哈尔滨市阿城区领导参观佛山芭蕾雨</a></h1>
            <p>陈春良副主席代表公司欢迎王文力书记一行领导，并介绍了芭蕾雨项
             目在促进地区经济增长、增加就业、税收，建立新城市中心的巨大作用，
             并着重指出芭蕾雨项目中，奥特莱斯商业部分的培育过程是相当漫长的，
             投资也十分巨大，项目需有充足的保障条件，以及得到政府的全力支持才
             能培育成功。</p>
           </li>
           <li>
            <h1><a href="research.html" >哈尔滨市阿城区领导参观佛山芭蕾雨哈尔滨市阿城区领导参观佛山芭蕾雨</a></h1>
            <p>陈春良副主席代表公司欢迎王文力书记一行领导，并介绍了芭蕾雨项
             目在促进地区经济增长、增加就业、税收，建立新城市中心的巨大作用，
             并着重指出芭蕾雨项目中，奥特莱斯商业部分的培育过程是相当漫长的，
             投资也十分巨大，项目需有充足的保障条件，以及得到政府的全力支持才
             能培育成功。</p>
           </li>
           <li>
            <h1><a href="research.html" >哈尔滨市阿城区领导参观佛山芭蕾雨哈尔滨市阿城区领导参观佛山芭蕾雨</a></h1>
            <p>陈春良副主席代表公司欢迎王文力书记一行领导，并介绍了芭蕾雨项
             目在促进地区经济增长、增加就业、税收，建立新城市中心的巨大作用，
             并着重指出芭蕾雨项目中，奥特莱斯商业部分的培育过程是相当漫长的，
             投资也十分巨大，项目需有充足的保障条件，以及得到政府的全力支持才
             能培育成功。</p>
           </li>
           <li>
            <h1><a href="research.html" >哈尔滨市阿城区领导参观佛山芭蕾雨哈尔滨市阿城区领导参观佛山芭蕾雨</a></h1>
            <p>陈春良副主席代表公司欢迎王文力书记一行领导，并介绍了芭蕾雨项
             目在促进地区经济增长、增加就业、税收，建立新城市中心的巨大作用，
             并着重指出芭蕾雨项目中，奥特莱斯商业部分的培育过程是相当漫长的，
             投资也十分巨大，项目需有充足的保障条件，以及得到政府的全力支持才
             能培育成功。</p>
           </li>
          </ul>
         </div></td>
       </tr>
      </table>
     </div>
    </div>
   </div>
   <div class="clearBoth"></div>
  </div>
 </div>
 <!-- 底部栏目开始 -->
 <div id="box_footer">
  <!-- 友情链接 -->
  <div id="box_links"><img src="../images/line_01.gif" alt="line" /><a href="#">蛙跳网</a><img src="../images/line_01.gif" alt="line" /><a href="#">新浪地产</a><img src="../images/line_01.gif" alt="line" /><a href="#">奥特莱斯（中国）有限公司</a><img src="../images/line_01.gif" alt="line" /><a href="#">好房子网</a><img src="../images/line_01.gif" alt="line" /><a href="#">0731房产网</a><img src="../images/line_01.gif" alt="line" /></div>
 </div>
</div>
</body>
</html>
