<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring  
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd"
	default-lazy-init="true">
	
<!-- <import resource="applicationContext-security.xml"/> -->
<ehcache:annotation-driven cache-manager="ehCacheManager" />
<!-- 从缓存清除时间间隔？ -->
<ehcache:config cache-manager="ehCacheManager">  
        <ehcache:evict-expired-elements  
            interval="60" />  
    </ehcache:config>
<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
<property name="configLocation" value="classpath:ehcache.xml" /> 
</bean>
	
  <!--<start id="bean_jpa_emf"/>--> 
  <!--<bean id="emf" class=
      "org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
  </bean>-->
  <!--<end id="bean_jpa_emf"/>-->
  
    <!--<start id="bean_hibernateAdapter"/>--> 
 <!-- <bean id="jpaVendorAdapter" 
      class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
    <property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
    <property name="showSql" value="true" /> 
  </bean>--> 
  <!--<end id="bean_hibernateAdapter"/>-->  
	
	    <context:property-placeholder location="classpath:hibernate.properties" />
	    <!-- 数据源配置, 使用应用中的DBCP数据库连接池 -->
		<bean id="dataSourceTarget" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">			
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />		
			
			<property name="maxActive" value="${dbcp.maxActive}" />
			<property name="maxIdle" value="${dbcp.maxIdle}" />
			<property name="defaultAutoCommit" value="false" />
			
			<property name="timeBetweenEvictionRunsMillis" value="3600000" />
			<property name="minEvictableIdleTimeMillis" value="3600000" />
		</bean>
		<bean id="dataSource" class="com.p6spy.engine.spy.P6DataSource">  
       <constructor-arg>  
           <ref local="dataSourceTarget"/>  
       </constructor-arg>  
  </bean> 
       
  <!-- org.springframework.orm.hibernate4.LocalSessionFactoryBean -->
 <bean id="sessionFactory"
         class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
         <property name="dataSource">
             <ref bean="dataSource" />
         </property>
         <property name="hibernateProperties">
             <props>
                 <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                 <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                 <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                 
				<prop key="hibernate.jdbc.fetch_size">${hibernate.fetch_size}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.batch_size}</prop>
            </props>
         </property>
         <property name="packagesToScan">
          <list>   
           <value>com.hedgehog.outletss.domain</value>
          </list>   
        </property>
       </bean>  

	
	
	<!--<start id="bean_exception_translation_post_processor" /> 
	翻译成Spring的异常体系 (数据访问dao使用@Repository注解后自动做异常转化)-->
<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 <!--<end id="bean_exception_translation_post_processor" />-->
 
  <!--<start id="bean_persistenceAnnotationBeanPostProcessor"/>使支持JPA @PersistenceContext注解--> 
<!--<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>-->
  <!--<end id="bean_persistenceAnnotationBeanPostProcessor"/>-->
	
	<!-- transaction manager, use JtaTransactionManager for global tx -->
     <bean id="hibernatetransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean> 
	<!--<bean id="transactionManager"
      class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="emf" />
  </bean>-->
  
	 <!--<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>-->	

	
    <!-- enable autowire -->
    <!-- <context:annotation-config />(使支持注解，配置component-scan后，该注解可省略)-->    
    <!-- enable transaction demarcation with annotations -->
    <tx:annotation-driven transaction-manager="hibernatetransactionManager"/>    
    <context:component-scan base-package="com.hedgehog.outletss.persistence" />
    <context:component-scan base-package="com.hedgehog.outletss.service" />		
</beans>
